#letra{
    font-family: cursive;
    font-size: 20px;
}

img.user {
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 70px;
    width: 70px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 100%;
    border-radius: 150%;
    background-size: 150% auto;
    position: static; 
    padding: 10px; 
    top: 310px; 
    left: 850px; 
    z-index: 0;

    
}